<h1>Stupid coach</h1>


<div id="question"> 
<h3> <%= @question %> </h3>
<p>- You</p>
</div>


<div id="answer">  
<%= @answer %>
<p>- Coach</p>
</div>

<br>
<br>

<%= link_to "Back to ask", "/ask" %>
